<section>

    <div class="d-flex justify-content-between">
        
        <h4>Lista de Medicos</h4>
        <a routerLink="/Medicos/create" class="btn btn-success">Crear nuevo registro</a>
    </div>
    <br>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nombre(s)</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th width="220px">Action</th>
        </tr>
        <tr *ngFor="let medico of Medicos">
            <td>{{medico.id_medico}}</td>
            <td>{{medico.Nombre}}</td>
            <td>{{medico.APaterno}}</td>
            <td>{{medico.AMaterno}}</td>
            <td>{{medico.usuario}}</td>
            <td>{{medico.Password}}</td>
            <td>
                <a href="#" [routerLink]="['/medico/','edit',medico.id_medico ]" class="btn btn-primary">Edit</a>
                <button type="button"(click)="deleteMedico(medico.id_medico)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</section>

